<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>NBA Basketball Database</h1>

<p><a href="full_list">See Full List of Players</a></p>
<p><a href="team_list">See Full List of Teams</a></p>

<form method="POST" action="/search">
<p>Search for Player by Name: <input type="text" name="name"> <input type="submit" value="Search"></p>
</form>
<div>
	{% for n in data %}
	<div>{{n}}</div>
	{% endfor %}
</div>
	
<form method="POST" action="/sortplayers">
<p>Sort Players by: <br>
  <input type="radio" name="sortplayer" value="team"> Team<br>
  <input type="radio" name="sortplayer" value="position"> Position<br>
  <input type="radio" name="sortplayer" value="height"> Height<br>
  <input type="radio" name="sortplayer" value="dob"> Date of Birth <br>
  <input type="submit" value="Sort">
</p>
</form>
<div>
	{% for n in datasort %}
	<div>{{n}}</div>
	{% endfor %}
</div>

</body>


</html>
