<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>NBA Basketball Database</h1>

<p>Show Full List of:
<select name="linklist" onchange="location = this.value;">
 <option value="">   </option>
 <option value="full_list">Players</option>
 <option value="team_list">Teams</option>
 <option value="coach_list">Coaches</option>
 <option value="game_list">Games</option>
 <option value="owner_list">Owners</option>
 <option value="gm_list">General Managers</option>
 <option value="city_list">Cities</option>
</select>
</p>
	
<form method="POST" action="/search">
<p>Search for Player by Name: <input type="text" name="name"> <input type="submit" value="Search"></p>
</form>
<div>
	{% for n in data %}
	<div>{{n}}</div>
	{% endfor %}
</div>
	
<form method="POST" action="/sortplayers">
<p>Sort Players by: <br>
  <input type="radio" name="sortplayer" value="team"> Team<br>
  <input type="radio" name="sortplayer" value="position"> Position<br>
  <input type="radio" name="sortplayer" value="height"> Height<br>
  <input type="radio" name="sortplayer" value="dob"> Date of Birth <br>
  <input type="submit" value="Sort">
</p>
</form>
<div>
	{% for n in datasort %}
	<div>{{n}}</div>
	{% endfor %}
</div>

<form method="POST" action="/averages">
<p>Calculate:  
<input list="averages" name="average">
  <datalist id="averages">
    <option value="Average Height per Team">
    <option value="Average Height per Position">
  </datalist>
  <input type="submit" value="Calculate">
</p>
</form>
<div>
	{% for n in dataavg %}
	<div>{{n}}</div>
	{% endfor %}
</div>

</body>


</html>
